extends layouts/post.jade
include mixins/comments.jade
include mixins/popular.jade
block title
    | Little Pizzeria Review
block author
    | Ludwig Van Beethoven
block date
    | Posted on January 18th, 2014 at 6:00 PM
block image
    img.img-responsive(src='images/little-pizzeria.png')
block content
    | Very fast delivery.
block popular
    - collection = []
    - collection.push({ link: 'golden-dragon.html', text: 'Golden Dragon' });
    mixin popular(collection)
block comments
    - collection = [];
mixin comments(collection)